@CHARSET "ISO-8859-1";
body{
	background-color: #e9eef2;
}
/*=========================HEADER/LOGO======================================*/
.center-block {
	display: block;
	margin: 0 auto;
}
.nav{
	float: right;
}
/*=========================LOGIN======================================*/
#pg-login .container{
	width: 30%;	
}

#pg-login .btn-primary{
	width: 100%;
}


/*=========================REGISTER======================================*/
#pg-register .container{
	width: 30%;	
	margin-top: 10px;
}
#pg-register .btn-primary{
	width: 100%;
}

