<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ad_post</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">developer</property>
        <property name="hibernate.connection.password">developer</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        
        <property name="hibernate.show_sql">true</property>
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">validate</property>
        <property name="hibernate.hbm2ddl.import_files">adpost_init.sql</property>
        <property name="hibernate.hbm2ddl.import_files_sql_extractor">org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor</property>
    
        <!-- To avoid lazy loading error for collection -->
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
			
    	<mapping class="com.adpostm.domain.model.AppUser" />
    	<mapping class="com.adpostm.domain.model.UserDetail" />
    	<mapping class="com.adpostm.domain.model.Menu" />
    	<mapping class="com.adpostm.domain.enumerated.MenuType" />
    	
    	
    </session-factory>
</hibernate-configuration>