<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:beans="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:jpa="http://www.springframework.org/schema/data/jpa"
xmlns:jdbc="http://www.springframework.org/schema/jdbc"
xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
http://www.springframework.org/schema/data/jpa
http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc.xsd
 http://www.springframework.org/schema/security
  http://www.springframework.org/schema/security/spring-security-4.0.xsd">
    
    <http auto-config="true">
        <intercept-url pattern="/" access="permit-all" />
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')
            	or hasRole('ROLE_USER')"/>
        <form-login login-page="/login"
        		username-parameter="username"
        		authentication-failure-url="/login?error=true"
        		authentication-success-handler-ref="loginSuccessHandler" />
        <logout logout-url="/logout"
        		success-handler-ref="logoutHandler" 
        		invalidate-session="false"/> <!-- invalidate-session is true by default -->
    	<csrf disabled="true"/>
    </http>
    
    <authentication-manager>
        <authentication-provider user-service-ref="userService">
         	<password-encoder ref="passwordEncoder" />
         </authentication-provider>
    </authentication-manager>
      <beans:bean id="loginSuccessHandler" class="com.adpostm.security.LoginAuthenticationSuccessHandler" />
      <beans:bean id="logoutHandler" class="com.adpostm.security.LogoutHandler" />
      <beans:bean id="userService" class="com.adpostm.service.impl.UserServiceImpl" />
      <beans:bean id="menuService" class="com.adpostm.service.impl.MenuServiceImpl" />
      <beans:bean id="advertService" class="com.adpostm.service.impl.AdvertServiceImpl" />
      <beans:bean id="userDao" class="com.adpostm.domain.dao.impl.UserDaoImpl" />
      <beans:bean id="menuDao" class="com.adpostm.domain.dao.impl.MenuDaoImpl" />
      <beans:bean id="advertDao" class="com.adpostm.domain.dao.impl.AdvertDaoImpl" />
    
    <!-- Entity Manager Factory -->
    <beans:bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <beans:property name="persistenceUnitName" value="JPAPersistence" />
    </beans:bean>
    
    <!-- Enable Annotation based Declarative Transaction Management -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    <!-- Initialization for TransactionManager -->
   <beans:bean id = "transactionManager" 
   			class = "org.springframework.orm.jpa.JpaTransactionManager">
      <beans:property name="entityManagerFactory" ref="entityManagerFactory" />
   </beans:bean>

     <beans:bean class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" id="passwordEncoder"/>
      
    <context:component-scan base-package="com.adpostm"/> 
    
   </beans:beans>